@font-face {
  font-family: 'TT Lakes Regular';
  src: url('../assets/fonts/TTLakes-Regular.eot');
  src: url('TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
   url('../assets/fonts/TTLakes-Regular.woff') format('woff'),
  url('../assets/fonts/TTLakes-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  }
  @font-face {
    font-family: 'TT Lakes Bold';
    src: url('../assets/fonts/TTLakes-Bold.eot');
    src: url('TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/TTLakes-Bold.woff') format('woff'),
    url('../assets/fonts/TTLakes-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

body {
  font-family: 'TT Lakes Regular';
  margin: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  margin: 0;
  width: 100%;
  min-height: 87px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: #FFFFFF;
  border-bottom: 1px solid #D9FFF5;
}

.header__burger {
  margin-left: 16px;
  margin-right: 16px;
}

.icon__back {
  cursor: pointer;
  min-width: 40px;
  min-height: 40px;
  border-radius: 20px;
  border: 0;
  background: #FF3E79;
}

.icon__back:hover {
  opacity: 0.3;
}

.header__logo {
cursor: pointer;
top: 3.69%;
bottom: 86.23%;
}

.header__actions {
  list-style-type:none;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px
}

.header__divider{
  cursor: pointer;
  min-width: 2px;
  min-height: 32px;
  background: #EAEAEA;
  border-radius: 1px;
  border: 0;
}

.header__checkstatus {
  margin-right: 16px;
}

.header__actions li:nth-child(1) {
  display: none;
  }

.header__actions li:nth-child(2) {
  display: none;
  }

.header__actions li:nth-child(3) {
  display: none;
  }

 .aside-menu__wrapper {
  /* display: none; */
  width: 96%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  margin: 0 auto;
 } 

.aside-menu__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0.92;
}

.aside-menu {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width:320px ;
  height: 100%;
  top: 0;
  background-color: #fff;
  border-bottom: 1px solid #d9fff5;
  z-index: 150;
}

.aside-menu__header {
position: fixed;
top: 0;
width: 100%;
min-width: 320px;
min-height: 87px;
display: flex;
align-items: center;
flex-direction: row;
}

.aside-menu__burger {
  margin-left: 24px;
  margin-right: 16px;
}


.aside-menu__search {
  margin-right: 24px;
  margin-left: auto;
}

.aside-menu__body {
  margin-top: 87px;
  padding-top: 20px;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
}

.aside-menu__list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.aside-menu__link {
  color: #1B1C21;
white-space: nowrap;
text-decoration: none; 
border-left: 4px solid #ffffff;
padding: 8px 10px;
padding-left: 24px;
margin-left: -40px;
}

.aside-menu__link:hover {
  color: #FF3E79;
}

.aside-menu__link--active {
  border-left: 4px solid #41F6D7;
  color: ;
}

.aside-menu__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 320px;
  margin-top: auto;
  margin-bottom: 32px;
}

.aside-menu__actions {
  padding: 0;
 list-style-type: none;
 display: flex;
 flex-direction: row;
 justify-content: flex-start;
 gap: 16px;
}

.aside-menu__call {
  margin-left: 24px;
}

.aside-menu__contacts {
  min-height: 70px;
  padding-left: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
}

.aside-menu__mail {
cursor: pointer;
text-decoration: none;
font-size: 16px;
line-height: 24px;
text-align: left;
color: #1B1C21;
}

.aside-menu__mail:hover {
color: #FF3E79;
}

.aside-menu__phone-number {
cursor: pointer;
text-decoration: none;
font-family: 'TT Lakes Bold';
font-size: 24px;
line-height: 32px;
text-align: left;
color: #1B1C21;
}

.aside-menu__phone-number:hover {
  color: #FF3E79;
  }

.aside-menu__languages {
  padding-left: 24px;
  margin-top: 40px;
 list-style-type: none;
 display: flex;
 flex-direction: row;
 justify-content: flex-start;
 gap: 7px;
}

.aside-menu__label_RU {
  cursor: pointer;
  color: #1B1C21;
}

.aside-menu__label_RU:hover {
  color: #FF3E79;
  }

.aside-menu__label_RU--active {
color: #7E7E82;
}

.aside-menu__lang_RU {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
}

.aside-menu__label_ENG {
  cursor: pointer;
  color: #1B1C21;
}

.aside-menu__label_ENG:hover {
  color: #FF3E79;
  }

.aside-menu__label_ENG--active {
color: #7E7E82;
}

.aside-menu__lang_ENG {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
}

.aside-menu__label_CH {
  cursor: pointer;
  color: #1B1C21;
}

.aside-menu__label_CH:hover {
  color: #FF3E79;
  }

.aside-menu__label_CH--active {
color: #7E7E82;
}

.aside-menu__lang_CH {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
}

.service {
  padding-top: 24px;
  padding-left: 16px;
  background-color: #F8F8F8;
}

.service__title {
  font-family: 'TT Lakes Bold';
  font-size: 28px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: -0.6px;
  text-align: left;
  border-left: 4px solid #41F6D7;
  padding-left: 12px;
  margin-left: -16px;
  }

.service__actions {
  display: none;
  list-style-type:none;
}

.service__repair {
  cursor: pointer;
  min-width: 40px;
  min-height: 40px;
  border-radius: 20px;
  border: 0;
}

.service__repair::before {
  position: absolute;
  margin-left: -140px;
  content: "Оставить заявку";
}

.service__repair::before:hover {
color: #FF3E79;
}

.service__checkstatus {
  cursor: pointer;
  min-width: 40px;
  min-height: 40px;
  border-radius: 20px;
  border: 0;
}

.service__checkstatus::before {
  position: absolute;
  margin-left: -140px;
  content: "Статус ремонта";
} 

.service__image {
  min-width: 320px;
  margin-left: -16px
}

.service__info {
  min-width: 304px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  }
  
  .service__text {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    text-align: left;
    min-width: 304px;
    margin-bottom: 20px;
  }
  
  .service__paragraph {
    overflow-y: hidden;
    min-width: 288px;
    max-width: 490px;
    margin-bottom: 16px;
    min-height: 155px;
   }

   .service__more {
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    padding: 5px;
    margin-left: 32px;
    border: none;
    border-color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);;
    color:  #1B1C21;
   } 

.service__more::before {
  position: absolute;
  margin-left: -20px;
  content: url(../SVG/icon-more.svg);
}

.service__list { 
  min-height: 60px;
  padding-left: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  overflow-x: scroll;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  gap: 10px
  }
  
  .service__list::-webkit-scrollbar{
    width: 0;
  }
  
  .service__link {
    color:  #7E7E82;  
  white-space: nowrap;
  text-decoration: none; 
  background: #F8F8F8;
  border: 2px solid #F8F8F8;
  border-radius: 6px;
  padding: 8px 10px;
  }
  
  .service__link--active {
    background: #FFFFFF;
    border: 2px solid #B8FFEC;
  }
  
  .service__reviews {
    display: none;
  }

/********************************************768px******************************/
@media screen and (min-width: 768px) {
.header {
  width: 100%;
}

.header__actions li:nth-child(1) {
  display: block;
  } 

.header__actions li:nth-child(2) {
  display: block;
  }

.header__actions li:nth-child(3) {
  display: block;
  } 
    
  .header__burger {
    margin-left: 24px;
    margin-right: 47px;
  }


  .header__burger::after {
    display: inline-block;
    position: absolute;
    margin-left: 30px;
    margin-top: -5px;
    content: url(../SVG/icon-divider.svg);
  }

  .header__checkstatus {
    margin-right: 40px;
  }

  .aside-menu {
    max-width: 320px;
    box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
  }

  .aside-menu__header {
    max-width: 320px;
  }

  .service {
    padding: 24px;
    min-width: 768px;
  }
  .service__title {
    padding-left: 20px !important;
    margin-left: -24px !important;
 } 

.service__info {
    flex-wrap: nowrap;
    min-width: 768px;
    }

 .service__image {
  max-width: 360px;
}
 .service__text {
      min-width: 312px;
    }

}

/*******************************************1440px******************************/
@media screen and (min-width: 1440px){
.header{
display: none;
}

.aside-menu__wrapper {
  display: block;
  position: sticky;
  top: 0;
  left: 0;
  margin: 0;
  min-width: 320px;
  z-index: 1;
}

.aside-menu__overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.aside-menu {
  box-shadow: none;
}

.aside-menu__burger {
  display: none;
}
.aside-menu__logo {
  margin-left: 24px;
}

.service__actions {
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 140px
}

.service__container{
  min-width: 1120px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.service__reviews{
  display: block;
  text-decoration: none;
  margin-left: 32px;
  color: #7E7E82;
}

.service {
  padding: 24px;
  min-width: 1120px;
  min-height: 535px;
  margin-left: 320px;
}

.service__list {
  overflow: hidden;
}

.service__info {
  min-width: 1120px;
}
.service__text {
  min-width: 490px;
}

.service__image {
max-width: 531px;
max-height: 307px;
margin:0;
}
}