@font-face {
  font-family: 'TT Lakes Regular';
  src: url('../assets/fonts/TTLakes-Regular.eot');
  src: url('TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
   url('../assets/fonts/TTLakes-Regular.woff') format('woff'),
  url('../assets/fonts/TTLakes-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  }
  @font-face {
    font-family: 'TT Lakes Bold';
    src: url('../assets/fonts/TTLakes-Bold.eot');
    src: url('TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/TTLakes-Bold.woff') format('woff'),
    url('../assets/fonts/TTLakes-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

body {
  font-family: 'TT Lakes Regular';
  margin: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  margin: 0;
  width: 100%;
  height: 87px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: #FFFFFF;
  border-bottom: 1px solid #D9FFF5;
}

.header__burger {
  cursor: pointer;
  min-width: 40px;
  height: 40px;
  margin-left: 16px;
  margin-right: 16px;
  background: #FF3E79;
  border-radius: 20px;
  border: 0;
}

.header__logo {
cursor: pointer;
top: 3.69%;
bottom: 86.23%;
}

.header__actions {
  list-style-type:none;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px
}

.header__call {
  cursor: pointer;
  width: 40px;
  height: 40px;
  background: #FF3E79;
  border-radius: 20px;
  border: 0;
}

.header__chat {
  cursor: pointer;
  width: 40px;
  height: 40px;
  background: #FF3E79;
  border-radius: 20px;
  border: 0;
}

.header__profile {
  cursor: pointer;
  width: 40px;
  height: 40px;
  background: #FF3E79;
  border-radius: 20px;
  border: 0;
}

.header__divider{
  cursor: pointer;
  width: 2px;
  height: 32px;
  background: #EAEAEA;
  border-radius: 1px;
  border: 0;
}

.header__repair {
  cursor: pointer;
  width: 40px;
  height: 40px;
  background: #FF3E79;
  border-radius: 20px;
  border: 0;
}

.header__checkstatus {
  cursor: pointer;
  width: 40px;
  height: 40px;
  margin-right: 16px;
  background: #FF3E79;
  border-radius: 20px;
  border: 0;
}

.header__actions li:nth-child(1) {
  display: none;
  }

.header__actions li:nth-child(2) {
  display: none;
  }

.header__actions li:nth-child(3) {
  display: none;
  }

.service {
  padding-top: 24px;
  padding-left: 16px;
  background-color: #F8F8F8;
}

.service__title {
  font-family: 'TT Lakes Bold';
  font-size: 28px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: -0.6px;
  text-align: left;
  border-left: 4px solid #41F6D7;
  padding-left: 12px;
  margin-left: -16px;
  }

.service__actions {
  display: none;
  list-style-type:none;
}

.service__repair {
  cursor: pointer;
  width: 40px;
  height: 40px;
  background: #FF3E79;
  border-radius: 20px;
  border: 0;
}

.service__repair::before {
  position: absolute;
  margin-left: -140px;
  content: "Оставить заявку";
}

.service__checkstatus {
  cursor: pointer;
  width: 40px;
  height: 40px;
  background: #FF3E79;
  border-radius: 20px;
  border: 0;
}

.service__checkstatus::before {
  position: absolute;
  margin-left: -140px;
  content: "Статус ремонта";
} 

.service__image {
  width: 320px;
  margin-left: -16px
}

.service__info {
  min-width: 304px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  }
  
  .service__text {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    text-align: left;
    width: 304px;
    margin-bottom: 20px;
  }
  
  .service__paragraph {
    overflow-y: hidden;
    min-width: 288px;
    max-width: 490px;
    margin-bottom: 16px;
    height: 155px;
   }

   .service__more {
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    padding: 5px;
    margin-left: 32px;
    border: none;
    border-color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);;
    color:  #1B1C21;
   } 

.service__more::before {
  position: absolute;
  margin-left: -20px;
  content: url(../SVG/icon-more.svg);
}

.service__list { 
  height: 60px;
  padding-left: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  overflow-x: scroll;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  gap: 10px
  }
  
  .service__list::-webkit-scrollbar{
    width: 0;
  }
  
  .service__link {
    color:  #7E7E82;  
  white-space: nowrap;
  text-decoration: none; 
  background: #F8F8F8;
  border: 2px solid #F8F8F8;
  border-radius: 6px;
  padding: 8px 10px;
  }
  
  .service__link--active {
    background: #FFFFFF;
    border: 2px solid #B8FFEC;
  }
  
  .service__reviews {
    display: none;
  }

/********************************************768px******************************/
@media screen and (min-width: 768px) {
.header {
  width: 100%;
}

.header__actions li:nth-child(1) {
  display: block;
  } 

.header__actions li:nth-child(2) {
  display: block;
  }

.header__actions li:nth-child(3) {
  display: block;
  } 
    
  .header__burger {
    margin-left: 24px;
    margin-right: 47px;
  }

  .header__burger::after {
    display: inline-block;
    position: absolute;
    margin-left: 30px;
    margin-top: -5px;
    content: url(../SVG/icon-divider.svg);
  }

  .header__checkstatus {
    margin-right: 40px;
  }

  .service {
    padding: 24px;
    min-width: 768px;
  }
  .service__title {
    padding-left: 20px !important;
    margin-left: -24px !important;
 } 

.service__info {
    flex-wrap: nowrap;
    min-width: 768px;
    }

 .service__image {
  width: 360px;
}
 .service__text {
      min-width: 312px;
    }

}

/*******************************************1120px******************************/
@media screen and (min-width: 1119px){
.header{
display: none;
}

.service__actions {
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 140px
}

.service__container{
  min-width: 1120px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.service__reviews{
  display: block;
  text-decoration: none;
  margin-left: 32px;
  color: #7E7E82;
}

.service {
  padding: 24px;
  min-width: 1120px;
  min-height: 535px;
}

.service__list {
  overflow: hidden;
}

.service__info {
  min-width: 1120px;
}
.service__text {
  min-width: 490px;
}

.service__image {
width: 531px;
height: 307px;
margin:0;
}
}