@import 'fonts.scss', 'color.scss';

.aside-menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 320px;
  height: 100%;
  background-color: $bgColor;
  border-bottom: 1px solid $border;
  z-index: 150;
  transition: 0.7s;

  &__wrapper {
    visibility: hidden;
    opacity: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    top: -100%;
    left: 0;
    z-index: 200;
    margin: 0 auto;
    transition: 0.7s;
  }

  &__wrapper--show {
    visibility: visible;
    opacity: 1;
    top: 0;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $bgColor;
    opacity: 0.92;
  }

  &__header {
    position: fixed;
    top: 0;
    width: 100%;
    min-width: 320px;
    min-height: 87px;
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  &__burger {
    margin-left: 24px;
    margin-right: 16px;
  }

  &__search {
    margin-right: 24px;
    margin-left: auto;
  }

  &__body {
    position: relative;
    top: 0;
    margin-top: 87px;
    padding-top: 20px;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
  }

  &__list {
    list-style-type: none;
    width: 100%;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
  }

  &__link {
    display: block;
    width: 100%;
    color: $text;
    white-space: nowrap;
    text-decoration: none;
    border-left: 4px solid $bgColor;
    padding: 8px 10px;
    padding-left: 24px;
  }

  &__link:hover {
    color: $button;
  }

  &__link.active {
    border-left: 4px solid $border;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-width: 320px;
    margin-top: auto;
    margin-bottom: 32px;
  }

  &__actions {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 16px;
  }

  &__call {
    margin-left: 24px;
  }

  &__contacts {
    min-height: 70px;
    padding-left: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
  }

  &__mail {
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    color: $text;
  }

  &__mail:hover {
    color: $button;
  }

  &__phone-number {
    cursor: pointer;
    text-decoration: none;
    font-family: 'TT Lakes Bold';
    font-size: 24px;
    line-height: 32px;
    text-align: left;
    color: $text;
  }

  &__phone-number:hover {
    color: $button;
  }

  &__languages {
    padding-left: 24px;
    margin-top: 40px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 7px;
  }

  &__label_RU {
    cursor: pointer;
    color: $text;
  }

  &__label_RU:hover {
    color: $button;
  }

  &__label_RU--active {
    color: $title;
  }

  &__lang_RU {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
  }

  &__label_ENG {
    cursor: pointer;
    color: $text;
  }

  &_label_ENG:hover {
    color: $button;
  }

  &__label_ENG--active {
    color: $title;
  }

  &__lang_ENG {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
  }

  &__label_CH {
    cursor: pointer;
    color: $text;
  }

  &__label_CH:hover {
    color: $button;
  }

  &__label_CH--active {
    color: $title;
  }

  &__lang_CH {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
  }
}

@media screen and (min-width: 768px) {
  .aside-menu {
    max-width: 320px;
    box-shadow: -2px 0px 4px $box-shadow-1, 16px 0px 52px $box-shadow-2;

    &__header {
      max-width: 320px;
    }
  }
}

@media screen and (min-width: 1440px) {
  .aside-menu {
    box-shadow: none;

    &__wrapper {
      visibility: visible;
      opacity: 1;
      position: sticky;
      top: 0;
      left: 0;
      margin: 0;
      min-width: 320px;
      z-index: 1;
    }

    &__overlay {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
    }

    &__burger {
      display: none;
    }

    &__logo {
      margin-left: 24px;
    }
  }
}
