@import 'fonts.scss';

$bgColor: #fff;
$text: #1b1c21;
$color: #24292e;
$border: #41f6d7;
$button: #ff3e79;
$title: #7e7e82;
$service: #f8f8f8;
$divider: #eaeaea;
$box-shadow-1: rgba(69, 79, 126, 0.02);
$box-shadow-2: rgba(14, 24, 80, 0.2);

.modal-call {
  position: fixed;
  right: -100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 320px;
  height: 100%;
  background-color: $bgColor;
  border-bottom: 1px solid $border;
  z-index: 150;
  transition: 0.7s;

  &__wrapper {
    visibility: hidden;
    opacity: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 200;
    margin: 0 auto;
  }

  &__wrapper--show {
    visibility: visible;
    opacity: 1;
  }

  &__overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: $bgColor;
    opacity: 0.92;
  }
  &__burger {
    position: relative;
    left: 0;
    margin-left: 16px;
    margin-top: 16px;
    max-width: 40px;
    max-height: 40px;
  }

  &__title {
    font-family: 'TT Lakes Bold';
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6px;
    text-align: left;
    border-left: 4px solid $border;
    padding-left: 28px;
    margin-left: -32px;
  }

  &__body {
    position: relative;
    top: 0;
    right: 0;
    padding: 32px;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: start;
    gap: 16px;
    overflow-y: auto;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__form-style {
    box-sizing: border-box;
    min-height: 48px;
    padding: 12px 16px;
    border: 1px solid $divider;
    border-radius: 8px;
  }

  &__text {
    box-sizing: border-box;
    min-height: 118px;
    padding: 12px 16px;
    border: 1px solid $divider;
    border-radius: 8px;
  }

  &__span {
    color: $button;
  }

  &__submit {
    position: absolute;
    top: 0px;
    right: 0px;
    min-width: 119px;
    min-height: 32px;
    border-radius: 16px;
    border: $button;
    background-color: $button;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 4px 12px;
  }
  &__submit-wrapper {
    position: relative;
  }

  &__submit:hover {
    box-shadow: 0 0 10px $title;
  }
}

.modal-call--show {
  right: 0;
  transition: 0.7s;
}

@media screen and (min-width: 768px) {
  .modal-call {
    max-width: 320px;
    box-shadow: -2px 0px 4px $box-shadow-1, 16px 0px 52px $box-shadow-2;

    &__burger {
      position: absolute;
      left: -80px;
    }
  }
}
