@import 'fonts.scss', 'color.scss';

.service-advantages {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 0;
  margin-top: 16px;

  &__title {
    font-size: 16px;
    line-height: 24px;
    color: $title;
    text-transform: uppercase;
    background-color: $bgColor;
    padding: 24px;
    margin-left: -24px;
    border-top: 1px solid $border;
  }

  &__buttons {
    display: none;
  }

  &__button {
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
    display: flex;
    align-items: start;
    min-width: 224px;
    min-height: 160px;
    background-color: $bgColor;
    border: 1px solid $divider;
    border-radius: 6px;
    padding: 16px;
  }

  &__button:hover {
    box-shadow: 0 0 10px $title;
  }

  &__image {
    margin-left: 16px;
  }

  &__next {
    cursor: pointer;
    position: absolute;
    bottom: 16px;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 40px;
    min-height: 40px;
    border-radius: 50%;
    margin-right: 16px;
    background-color: $bgColor;
  }

  &__more {
    display: none;
  }

  &__more:hover {
    text-shadow: 0 0 10px $title;
    color: $button;
  }

  &__slide {
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
    align-items: start;
    min-width: 240px;
    min-height: 160px;
    background-color: $bgColor;
    border: 1px solid $divider;
    border-radius: 6px;
    margin-top: 16px;
    margin-left: 24px;
    padding: 16px;
  }
}

@media screen and (min-width: 768px) {
  .service-advantages {
    &__title {
      margin-right: -24px;
    }

    &__buttons {
      max-height: 170px;
      overflow: hidden;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;
      transition: 0.7s linear;
      padding: 16px;
      gap: 16px;
    }

    &__buttons--open {
      min-height: 250px;
      max-height: 550px;
      height: auto;
      padding-bottom: 16px;
      transition: 0.7s linear;
    }

    &__more {
      cursor: pointer;
      display: inline-block;
      max-width: 120px;
      font-size: 16px;
      padding: 5px;
      margin-left: 32px;
      border: none;
      border-color: $more;
      background-color: $more;
      color: $text;
    }

    &__more::before {
      position: absolute;
      margin-left: -20px;
      content: url(../img/icon-more.svg);
      transform: rotate(0deg);
    }

    &__more--open::before {
      position: absolute;
      margin-left: -20px;
      content: url(../img/icon-more.svg);
      transform: rotate(180deg);
    }
  }
}

@media screen and (min-width: 1057px) {
  .service-advantages__more {
    display: none;
  }
}
